In [0]:
import sqlite3

from sqlite3 import Error

def sql_connection():

    try:

        con = sqlite3.connect('mydatabase.db')

        return con

    except Error:

        print(Error)

def sql_table(con):

    cursorObj = con.cursor()

    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department text, position text, hireDate text)")

    con.commit()

con = sql_connection()

sql_table(con)

In [5]:
ls

mydatabase.db  sample_data/

In [0]:
con = sqlite3.connect('mydatabase.db')

def sql_insert(con, entities):

    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employees(id, name, salary, department, position, hireDate) VALUES(?, ?, ?, ?, ?, ?)', entities)
    
    con.commit()

entities = (2, 'Andrew', 800.5, 'IT', 'Tech', '2018-02-06')

sql_insert(con, entities)

In [0]:
import sqlite3

from sqlite3 import Error

def sql_connection():

    try:

        con = sqlite3.connect('mi_tienda.db')

        return con

    except Error:

        print(Error)

def sql_table(con):

    cursorObj = con.cursor()

    cursorObj.execute("CREATE TABLE employees(id integer PRIMARY KEY, nombre text, precio real)")

    con.commit()

con = sql_connection()

sql_table(con)

In [0]:
con = sqlite3.connect('mi_tienda.db')

def sql_insert(con, entities):

    cursorObj = con.cursor()
    
    cursorObj.execute('INSERT INTO employees(id, nombre, precio) VALUES(?, ?, ?)', entities)
    
    con.commit()

entities = (3, 'Gaseosa', 10.5)

sql_insert(con, entities)